# Raw sequencing data
data/raw/
*.fastq.gz
*.fq.gz

# Alignments / big intermediates
*.bam
*.bai
*.cram
*.crai

# Variant call outputs (optional to ignore if huge)
*.vcf
*.vcf.gz
*.tbi

# Outputs and logs
outputs/
logs/
slurm-*.out
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/
